<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="container">
      <div class="form-container">
        <form action="/login" method="POST">
          <input type="text" placeholder="enter your email" name="email" required>
          <input type="text" placeholder="enter your password" name="password" required>
          <button type="submit">Submit</button>
          <p>New User? <a href="/register">Register here</a></p>
        </form>
      </div>
    </div>
</body>
</html>