<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <link rel="stylesheet" href="css/register.css">
</head>
<body>
    <div>
        <div>
            <form action="/register" method="POST">
                <input type="text" name="email" placeholder="enter email" required>
                <input type="text" name="password" placeholder="enter password" required>
                <button type="submit">Submit</button>
                
            </form>
        </div>
    </div>
    
</body>
</html>